{% extends "services/services.html" %}


{% block title %}Commercial{% endblock %}


{% block services_content %}


<section class="py-16">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

        <div class="text-left max-w-5xl mx-auto">
            <h2 class="text-3xl font-bold text-gray-900 mb-4">
                Commercial
            </h2>
            <h3 class="text-xl font-bold text-gray-900 mb-4">
                Pest-Free Business Starts Here
            </h3>
            <p class="text-left text-gray-800 mb-8">
                Spring pests can harm your reputation, inventory, and bottom line. Pest Shield delivers discreet,
                effective pest management for businesses of all sizes—from offices and restaurants to warehouses
                and retail spaces. We customize plans that meet regulatory standards and keep your operations
                smooth
            </p>
            <p class="text-left font-bold text-gray-800 mb-2">
                Trusted by industries including:
            </p>

            <p class="text-left text-gray-600 mb-8">
                Food service
                <br>
                Hospitality
                <br>
                Warehousing & logistics
                <br>
                Retail & office buildings
            </p>

        </div>


    </div>
</section>





{% endblock %}

