{% extends "services/services.html" %}



{% block services_content %}


<section class="py-16">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

        <div class="text-left max-w-5xl mx-auto">
            <h2 class="text-3xl font-bold text-gray-900 mb-4">
                Pest Control Services

            </h2>
            <h3 class="text-xl font-bold text-gray-900 mb-4">
                Residential & Commercial Pest Control You Can Count On

            </h3>
            <p class="text-left text-gray-600 mb-8">
                Whether it’s your home or business, pests do not belong there. At Pest Shield, we provide fast,
                effective, and discreet pest control solutions tailored to your needs. From ants and cockroaches to
                rodents and wasps, we handle it all—safely and professionally.
                <br>
                <br>
                Protect your family, your customers, and your reputation. Our licensed technicians use industryleading methods to eliminate pests and keep them out for good.
                <br>
                <br>
                Call now for a free inspection and see the Pest Shield difference!

            </p>
        </div>


    </div>
</section>





{% endblock %}

